.bg-primary {background-color: #f44336 !important;}
.bg-primary-hard {background-color: #aa2e25 !important; }
.bg-primary-light {background-color: #f6685e !important; }

.bg-coffee {background-color: #74574a !important;}
.bg-coffee-hard {background-color: #513c33 !important;}
.bg-coffee-light {background-color: #8f786e !important;}

.bg-skin {background-color: #fdebd6 !important;}
.bg-skin-hard {background-color: #b1a495 !important;}
.bg-skin-light {background-color: #fdefde !important;}

.bg-sol {background-color: #ffa726 !important;}
.bg-sol-hard {background-color: #b2741a !important;}
.bg-sol-light {background-color: #ffb851 !important;}

.txt-primary {color: #f44336 !important;}
.txt-primary-hard {color: #aa2e25 !important; }
.txt-primary-light {color: #f6685e !important; }

.txt-coffee {color: #74574a !important;}
.txt-coffee-hard {color: #513c33 !important;}
.txt-coffee-light {color: #8f786e !important;}

.txt-skin {color: #fdebd6 !important;}
.txt-skin-hard {color: #b1a495 !important;}
.txt-skin-light {color: #fdefde !important;}

.txt-sol {color: #ffa726 !important;}
.txt-skin-hard {color: #b2741a !important;}
.txt-skin-light {color: #ffb851 !important;}

.has-valid .error {
    display: none;
}

.loader {
    display:none;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
    background-color:rgb(15 43 0 / 50%)
}
.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation: spin 1000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}



/* ----------------
Dropdown
------------- */
.dropdown>.dropdown-menu:first-of-type,
.dropup>.dropdown-menu:first-of-type {
    transition: all .3s cubic-bezier(.215,.61,.355,1) 0s,opacity .3s ease 0s,height 0s linear .35s
}

.dropdown-menu {
    background-color: #fff;
    border: 0 none;
    border-radius: 12px;
    padding: 0
}

.dropdown .dropdown-menu,
.dropup .dropdown-menu {
    box-shadow: 1px 2px 7px 1px rgba(0,0,0,.125);
    margin-top: 3.1rem;
}

.dropdown-menu .divider {
    background-color: #f1eae0;
    margin: 0
}

.dropdown-menu .dropdown-header {
    color: #9a9a9a;
    font-size: .8571em;
    padding: 10px 15px
}
.navbar .dropdown-menu .dropdown-item:focus,
.navbar .dropdown-menu .dropdown-item:hover {
    color: #fff
} 
.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover {
    color: #fff!important;
    opacity: 1;
    text-decoration: none;
    background-color: #aca092
}
.sidebar .nav li>a .nc-icon {
    color: #fff;
}
.sidebar .nav li>a {
    font-size: 0.85rem;
    color: #fff;
    font-family: 'Montserrat', Helvetica Neue, Arial, sans-serif;
    box-shadow: initial;
}

.table>thead>tr,
.table>tbody>tr {
    font-size: .75rem !important;
}